html, body, #root {
  margin: 0;
  width: 100%;
  height: 100%;
}

.flex-column {
  flex-direction: column;
}

.w-full {
  width: 100%;
}

.w-1\/2 {
  width: 50%;
}

.h-85vh {
  height: 85vh;
}

.bg-whitesmoke {
  background-color: whitesmoke;
}