html, body, #root {
  margin: 0;
  width: 100%;
  height: 100%;
}

.flex-column {
  flex-direction: column;
}

.w-full {
  width: 100%;
}

.w-1\/2 {
  width: 50%;
}

.h-95vh {
  height: 95vh;
}

.h-5vh {
  height: 5vh;
}

.m-auto {
  margin: auto;
}

.ptb-1\/5 {
  padding-top: 20%;
  padding-bottom: 20%;
}

.bg-whitesmoke {
  background-color: whitesmoke;
}

.bg-lightgrey {
  background-color: lightgrey;
}