html, body, #root {
  margin: 0;
  width: 100%;
  height: 100%;
}

.background {
  // background-color: whitesmoke;
  height: calc(100% - 6.25rem);
}

.menu {
  max-height: 50vh;
  overflow: auto;
}

.header-search {
  display: flex;
  width: 80%;
  align-items: center;

  button {
    margin-bottom: initial;
  }
}

// .flex-column {
//   flex-direction: column;
// }

// .flex-items-center {
//   align-items: center;
// }

.w-full {
  width: 100%;
}

.w-1\/2 {
  width: 50%;
}

.w-4\/5 {
  width: 80%;
}

// .h-95vh {
//   height: 95vh;
// }

// .h-5vh {
//   height: 5vh;
// }

// .h-20rem {
//   height: 20rem;
// }

// .h-fit {
//   height: fit-content;
// }

// .m-auto {
//   margin: auto;
// }

.p-4 {
  padding: 1rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

// .ptb-1\/5 {
//   padding-top: 20%;
//   padding-bottom: 20%;
// }

// .bg-whitesmoke {
//   background-color: whitesmoke;
// }

// .bg-lightgrey {
//   background-color: lightgrey;
// }

// .overflow-auto {
//   overflow: auto;
// }

// .position-relative {
//   position: relative;
// }

// .position-absolute {
//   position: absolute;
// }